
/*头部样式*/
.header{
  width:100%;
  min-width: 1200px;
  background: #333333;
  height: 30px;
  line-height: 30px;
}
.header>.header_right{
	float: right;
	height: 30px;
	width: 40%;
	min-width: 480px;
	position: relative;
}
.header>.header_right a{
	float: left;
	color: white;
	font-size: 12px;
}
.header>.header_right>span.shuxian{
	float: left;
	color: #aaaaaa;
	margin: 0 5px;
}
.header>.header_right a:hover{
	color: red;
}
.header>.header_right>a.personal{
	margin: 0 30px;
}
.header>.header_right>.header_block1{
	float: left;
	height: 30px;
	font-size: 12px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	overflow: hidden;
	padding: 0 15px;
	color: white;
}
.header>.header_right>.header_block1:hover{
	height: 50px;
	background: white;
	color: #333333;
	border: 1px solid #D8D6D6;
}
.header>.header_right>.header_block1>p>a{
	color: #333333;
	margin-top: -8px;
}
.header>.header_right>.header_block1>p>a:hover{
	color: red;
}
.header>.header_right>.header_block2{
	float: left;
	height: 30px;
	font-size: 12px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	overflow: hidden;
	position: relative;
	z-index: 1000;
	padding: 0 15px;
	color: white;
}
.header>.header_right>.header_block2:hover{
	background: white;
	color: #333333;
	border: 1px solid #D8D6D6;
	height: 120px;
}
.header>.header_right>.header_block2>ul{
	height: 90px;
	margin-top: -5px;
}
.header>.header_right>.header_block2>ul>li>a{
	color: #333333;
	height: 22px;
}
.header>.header_right>.header_block2>ul>li>a:hover{
	color: red;
}
.header>.header_right>span.mobie{
	color: white;
	font-size: 12px;
	float: left;
	padding:0 20px;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
}
.header>.header_right>span.mobie:hover{
	color: #333333;
	background: white;
	border-left: 1px solid #D8D6D6;
	border-right: 1px solid #D8D6D6;
}
.header_right>.saoma{
	width: 235px;
	height:110px;
	padding:10px;
	position: absolute;
	z-index: 1000;
	border: 1px solid #D8D6D6;
	background: white;
	top:29px;
	left:151px;
	border-top:none ;					
}
.header_right>.saoma>img:first-child{
	margin-right: 5px;
}





/*导航样式*/
.nav{
  width:100%;
  min-width: 1200px;
  height: 145px;
  background: white;
}
.nav_row1{
  width: 1200px;
  height: 105px;
  line-height: 105px;
  margin: 0 auto;
}
.nav_row1>a>img{
  height:40px;
  float: left;
  display: block;
  margin-top: 30px;
}
.search{
  float:left;
  display: block;
  width: 484px;
  height:34px;
  border:1px solid #2884c7;
  margin-top:34px;
  margin-left: 80px;
}
.nav_search{
  float: left;
  display: block;
  width:379px;
  height: 23px;
  border: none;
  padding: 5px 5px 5px 10px;
  line-height: 23px;
  font-size: 14px;
  outline: 0;
}
.nav_button{
  float: left;
  display: block;
  width: 90px;
  height:34px;
  color: white;
  background: #2884c7;
  border:none;
  font-size: 14px;
  text-align: center;
  outline: 0;
  letter-spacing: 5px;
  text-indent: 5px;
  cursor: pointer;
}
.shoppingcar>a>img{
  height: 24px;
  float: left;
  display: block;
  position: relative;
  left:40px;
  top:3px;
}
.shoppingcar>a{
  float:left;
  display: block;
  width: 160px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color:#2884C7;
  border:1px solid #d8d6d6;
  position: relative;
  top:34px;
  text-align: center;
  margin-left: 100px;
}
.shoppingcar>a:hover{
  border: 1px solid #2884C7;
}

.nav_row2{
  width: 1200px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
}
.nav_row2>div{
  float:left;
  display: block;
  width: 237px;
  background: #333333;
  color: white;
  text-align: center;
  margin-right: 20px;
}
.nav_row2 a{
  color:#333333;
}
.nav_row2>ul>li{
  float: left;
  display: block;
}
.nav_row2>ul>li>a{
  margin-right:20px;
}
.nav_row2>a:last-child{
  float: right;
  display: block;
}
.nav_row2 a:hover{
  color: red;
}